#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# Add cargo bin to PATH
PATH_add $HOME/.cargo/bin

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
